export NODE_ENV='development'
export APP_ID=''
export CLIENT_ID=''
export CLIENT_SECRET=''
export SIGNING_SECRET=''
export SLACK_VERIFICATION_TOKEN=''
export BOT_TOKEN=''
export APP_TOKEN=''
export STATE_SECRET=''
export AIRTABLE_API_KEY=''
export AIRTABLE_API_BASE=''
